ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li{
    float: left;
    vertical-align: middle;
}
  
  li a{
    font-size: large;
    display: inline-block;
    color: white;
    text-align: center;
    vertical-align: middle;
    padding: 14px 16px;
    text-decoration: none;
  }

  #right{
    width: 600px;
    margin: 0 auto;
    display: inline-block;
    position: relative;
  }
  #r1{
    float: right;
  }
  #logo{
    position: relative;
    display: inline-block;
    margin: 0;
    vertical-align: middle;
    padding: 0;
    height: 50px;
    width: 50px;
  }

  input[type=text] {
    margin: 0;
    padding: 0;
    display: inline-block;
    position: absolute;
    overflow: hidden;
    width: 100px;
    height: 52px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
  }

  input[type=text]:focus {
    width: 20%;
  }

  #hero-image{
    height: 400px;
    width: 400px;
    border: #333;
  }

  #index-second-image{
    height: 300px;
    width: 150px;
    border: #333;
  }

  .icard{
    margin-left: 20px;
    float: left;
    width: 590px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
  }

  .icard2{
    position: absolute;
    right:3%;
    margin-left: 20px;
    width: 590px;
    height: 700px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin-bottom: 10px;
    border-bottom: 10px;
  }

  hr {
    border:none;
    height: 4px;
    border-top:1px dashed greenyellow;
    color:#fff;
    background-color:#fff;
    width:50%;
  }

  .h-card2{
    margin-top: 10px;
    width: 400px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    position: absolute;
    right: 3%;
  }

  .h-card3{
    margin-top: 10px;
    float: bottom;
    width: 400px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    position: absolute;
    right: 3%;
    margin-top: 30rem;
  }


  .h-card {
    margin-top: 10px;
    float: left;
    width: 800px;
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
  }
  
  /* On mouse-over, add a deeper shadow */
  .icard:hover, .card:hover, .icard2:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

  .icontainer, .container, .icontainer2 {
    padding: 2px 16px;
  }

  .first-tax-card, .second-tax-card, .third-tax-card{
    margin: 10px;
    padding: 10px;
    border: 10px;
    float: left;
    width: 550px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
  }

  .first-tax-card:hover, .second-tax-card:hover, .third-tax-card:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

  .social-media{
    bottom: 0%;
    display: inline-block;
    position: absolute;
  }


  .contacts{
    padding: 12px 20px;
    margin: 10px;
    width: fit-content;
    float: right;
    align-content: space;
    gap: 20;
  }
.contact-text{
  
  margin: 10px;
  border: 10px;
  padding: 10px;
}


.slideshow {
  overflow: hidden;
  height: 500px;
  width: 1400px;
  margin: 0 auto;
}
.slide-wrapper {
  width: 3000px;
  animation: slide 10s infinite;
}
.image-container{
  margin-top: 50px;
  float: left;
  height: 500px;
  width: 1400px;
}
#a1 {
  height: 100px;
  width: 180px;
}
.image-container:nth-child(1) {
  background-image: url("images/img1.jpeg") ;
}
.image-container:nth-child(2) {
  background-image: url("images/ss1.JPG") ;
}
.float-parent-element { 
  width: 50%; 
} 
.float-child-element { 
  float: left; 
  width: 50%; 
} 
.float-child-element1 { 
  float:right; 
  width: 50%;
} 
.red { 
  background-color: red; 
  
} 
.yellow { 
  background-color: yellow; 
}
.hd {
  margin-bottom: 5px;
  width: 300px;
  margin-left: 10%; 
  margin-right: 50%; 
  height: 100px; 
  text-align: justify;
}
.hd1 {
  margin-bottom: 5px;
  width: 300px;
  margin-left: 30%; 
  margin-right: 200px; 
  height: 100px; 
  text-align: justify;
}
.hd2 {
  margin-top: -130px;
  width: 300px;
  margin-left: 200%;
  margin-right: 200px;  
  height: 100px; 
  text-align: justify;
  
}
.hdt{
  margin-left: 13px;
  margin-bottom: -15px;
  color: rgb(121, 121, 121);
}
@keyframes slide {
  20% {margin-left: 0px;}
  30% {margin-left: -1400px;}
  40% {margin-left: -1400px;}
  
}